
body{
    background-color:grey;
}
.login{
        background: #fff;
        width: 80%;
        margin: auto;
        padding: 40px;
      
        border-radius: 3px;
        background-color:honeydew;
}
p{
    background-color:sienna;
}
.login{
    b
}

